<a href="./trackers/new">Create</a>
<ul>
  {{#each trackers}}
  <li>
    {{this.name}}
    <a href="./trackers/{{ this._id }}">detail</a>
    <a href="./trackers/{{ this._id }}/edit">edit</a>
    <form action="./trackers/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
      <button type="submit">delete</button>
    </form>
  </li>
  {{/each}}
</ul>

